In [3]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Step3_Output_typistmerfish/TCNLabel_MajorityVoting.csv', header=None, names=['Label'])
df['ID'] = df.index
df = df[['ID', 'Label']]
df

        ID  Label
0        0      4
1        1      4
2        2      4
3        3      4
4        4      4
...    ...    ...
5483  5483      3
5484  5484      3
5485  5485      3
5486  5486      3
5487  5487      3

[5488 rows x 2 columns]

In [4]:
df.Label.unique()

array([4, 8, 1, 3, 6, 2, 5, 7], dtype=int64)

In [5]:
df.to_csv('typistmerfish2.csv', index=False)

In [4]:
df = pd.read_csv('Step3_Output_typistosmfish/TCNLabel_MajorityVoting.csv', header=None, names=['Label'])
df['ID'] = df.index
df = df[['ID', 'Label']]
df.Label.unique()

array([ 4, 11,  9,  3,  8,  6,  5,  2, 10,  1,  7], dtype=int64)

In [5]:
df.to_csv('typistosm.csv', index=False)